{% extends ':Front:base.html.twig' %}
{% block title %}
    PanameWorldTV - Connexion
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>
{% endblock %}

